/***** NAVIGATION - css/interior/nav.css *****/

/** nav search input **/

#nav-search {
    width: 30%;
}

.menu-container .input-group {
    margin: 0;
}

.menu-container .input-group-field {
    height: 37px;
}

.menu-container .input-group button {
    padding: 0;
    width: 50px;
    height: 37px;
    border-color: #cacaca;
}