/***** MAIN CONTENT - css/interior/page.css *****/

/* main content area */

@media screen and (min-width: 40em){
    .page {
        margin-top: 0;
    }
}

/* page curl - large screens */

@media screen and (min-width: 64em) {
    .page:before {
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1.0);
    }

    .page:after {
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1.0);
    }
}