/***** RESULTS STATISTICS - css/interior/results-stats.css *****/

.stats {
    margin-top: 10px;
    font-size: .85rem;
    font-weight: bold;
    color: #8c8c8c;
    padding-bottom: 5px;
    border-bottom: 1px solid #c0c6e6;
}

.stats span {
    color: #041a9b;
}

.stats span.search-query {
    font-weight: normal;
    font-style: italic;
}