/***** TITLE & SEARCH BOX - css/interior/title-search.css *****/

/** site titling and year **/

.site-title .title {
    float: left;
}

.site-title .year {
    float: right;
}

.site-title {
    clear: both;
}

/* medium screen & up */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .site-title .title {
        font-size: 1.75rem;
    }

    .site-title .year {
        font-size: 1rem;
        padding-top: 12px;
    }
} /* /medium screen & up */


/* large screen & up */

@media screen and (min-width: 64em){
    .site-title .title {
        font-size: 2rem;
    }

    .site-title .year {
        font-size: 1.5rem;
        padding-top: 7px;
    }
} /* /large screen */