/***** BACKGROUND - css/home/background.css *****/

/* large background image placement */

/* background positioning */

.bg-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* background image, dimensions and other graphics */

.bg-image .column {
    height: 550px;
    background-image: url(../../img/baldy_walkway_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #041a9b;
}