/***** BANNER - css/home/banner.css *****/

/* UB top banner header CSS */

/* shared banner color and border */

.banner {
    background-color: #041a9b;
    border-bottom: 1px solid #ffffff;
    margin-left: 0;
    margin-right: 0;
}

/* medium size screen and above: http://foundation.zurb.com/sites/docs/media-queries.html */

@media screen and (min-width: 40em) {
    /* banner drop shadow */
    .banner {
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.65);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.65);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.65);
    }

    /* "UB University at Buffalo - The State University of New York" logo */
    .banner .logo {
        width: 353px;
        height: 23px;
        margin: 12px 0 6px -22px;
    }
}

/* small size screen only */

@media screen and (max-width: 39.9375em) {
    /*  affix the banner to the top of the screen so it doesn't scroll & resize banner */
    .banner {
        height: 42px;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        z-index: 10;
    }

    /* logo switches to small "UB" intertwined logo - see HTML for the switch -> Foundation is handling hide and show */
    .banner .logo {
        width: 30px;
        margin: 13px 0;
    }

    /* site title takes place of larger UB logo */
    .banner .title {
        font-size: 1em;
        color: #ffffff;
        margin-top: 9px;
        display: block;
    }
}