/* be advised blog feed */

.headline {
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 1rem;
    padding-bottom: 20px;
}

.headline .date {
    font-size: .75rem;
}

.headline .title {
    font-size: .9rem;
}

.headline p {
    margin: 5px 0 0 0;
    padding: 0;
}