/***** BUTTONS - css/home/buttons.css *****/

/* gray button color fixes */

.button.light-gray {
    background-color: #e6e6e6;
}

.button.medium-gray {
    background-color: #cacaca;
}

.button.dark-gray {
    background-color: #8a8a8a;
}