/***** FOOTER - css/home/footer/css *****/

footer {
    background-color: #e2e2e2;
    border-top: 1px solid #666666;
    padding: 20px 15px 30px 15px;
    color: #666666;
}

footer .logo {
    margin-bottom: 15px;
}

.footer .resources .columns {
    padding: 0 15px 0 0;
}

.resources .links {
    padding: 5px 0 15px 15px;
    font-size: .7rem;
}

footer .copyright {
    font-size: .75rem;
}