/***** NAVIGATION - css/home/nav.css *****/

/* main nav for medium screens & up */

@media screen and (min-width: 40em) {
    .menu-container {
        background-color: #e2e2e2;
        margin-bottom: 15px;
    }

    .menu li {
        border-left: 1px solid #ffffff;
        text-transform: uppercase;
        font-size: .85rem;
        font-weight: bold;
    }

    .menu li.active {
        background-color: #ffffff;
    }

    .menu a {
        color: #041a9b;
    }

    .menu li:hover {
        background-color: #666666;
    }

    .menu li:hover a {
        color: #ffffff;
    }
}

/* small screen */

@media screen and (max-width: 39.9375em){
    /* reposition and affix nav */
    nav {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #e2e2e2;
        border-top: 1px solid #041a9b;
        z-index: 10;
    }

    .menu {
        display: block;
        text-align: center;
    }

    .menu li {
        display: block;
        float: left;
        width: 20%;
    }

    .menu a {
        color: #727272;
        text-decoration: none;
    }

    .menu a:hover, .menu li.active a {
        color: #041a9b;
    }

    .menu a .fa {
        font-size: 1.5rem;
        display: block;
    }

    .menu a .text {
        background-color: transparent;
        font-size: .7rem;
        color: inherit;
    }
}