/***** MAIN CONTENT - css/home/page.css *****/

/* main content area */

.page {
    background-color: #ffffff;
    padding: 5px 5px 60px 5px !important;
    color: #666666;
}

/* medium screen & up */

@media screen and (min-width: 40em) {
    /* create space between search input and navigation */
    .page {
        margin-top: 100px;
    }
}

/* small screen */

@media screen and (max-width: 39.9375em){
    .page {
        margin-top: 85px;
    }
}

/* page curl - large screens */

@media screen and (min-width: 64em) {
    .page {
        position:relative;
    }

    .page:before {
        content: "";
        position: absolute;
        z-index: -1;
        box-shadow: -30px 32px 20px 20px rgba(0,0,0,.45);
        top: -10px;
        bottom: 55%;
        left: 30px;
        right: 0;
        width: 50%;
        transform: rotate(-10deg)
    }

    .page:after {
        content: "";
        position: absolute;
        z-index: -1;
        box-shadow: 30px 32px 20px 20px rgba(0,0,0,.45);
        top: -10px;
        bottom: 55%;
        left: auto;
        right: 30px;
        width: 50%;
        transform: rotate(10deg)
    }
}

/* content area classes */

.page .content h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.page .content a {
    color: #041a9b;
    text-decoration: underline;
}

.page .content .main {
    padding: 0px 15px 10px 15px;
}

/** side-bar archives **/

.page .content .archives {
    padding: 0px 15px;
}

/* individual catalog archive containers */

/*.catalogs {
    text-align: center;
}*/

.catalogs a {
    display: block;
    width: 50px;
    margin-bottom: 20px;
}

.catalogs a img {
    border: 1px solid #041a9b;
}

.catalogs a span.yr {
    font-size: .75rem;
}

/** side-bar modules **/

.module {
    padding: 25px 10px 0 15px;
}

.module h6 {
    color: #041a9b;
}

.module p {
    font-size: .75rem;
}