/***** TEXT - css/home/text.css *****/

/* page font settings */

* {
    font-family: 'Roboto',Arial,sans-serif; /* Roboto - Google Fonts */
}

/* gray text color fixes */

.text-light-gray {
    color: #e6e6e6 !important;
}

.text-medium-gray {
    color: #cacaca !important;
}

.text-dark-gray {
    color: #8a8a8a !important;
}