/***** TITLE & SEARCH BOX - css/home/title-search.css *****/

/** site titling and year **/

.site-title {
    margin-top: 15px;
    opacity: .55;
}

/* medium screen */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .site-title .title {
        font-size: 2rem;
    }

    .site-title .year {
        font-size: 1.25rem;
    }
}

/* large screen */

@media screen and (min-width: 64em) {
    .site-title .title {
        font-size: 2.35rem;
    }

    .site-title .year {
        font-size: 1.75rem;
    }
}

/** search input **/

/* medium screen & up */

@media screen and (min-width: 40em) {
    .main-search {
        margin-top: 80px;
    }

    .main-search .input-group {
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
    }

    .main-search input[type=text], .main-search button {
        height: 50px;
    }

    .main-search input[type=text], .main-search button {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .main-search button {
        font-size: 1rem;
        width: 150px;
        border-color: #cacaca;
    }
}

/* small screen */

@media screen and (max-width: 39.9375em){
    /* move search to the top under the banner and affix it */
    .main-search {
        z-index: 0;
        position: fixed;
        top: 42px;
        left: 0px;
        right: 0px;
    }

    .main-search .column {
        padding-left: 0;
        padding-right: 0;
    }

    .main-search input[type=text] {
        background-color: #e6e6e6;
        border: 0;
    }

    .main-search .input-group {
        border-bottom: 1px solid #041a9b;
    }
}