!!!
%html

  %head

    %title 2016-17 UB Undergraduate Degree & Course Catalog
    / Meta
    %meta{:name=>'viewport',:content=>'width=device-width,initial-scale:1.0'}
    / CSS (Foundation, Roboto, FontAwesome, Catalog)
    %link{:rel=>'stylesheet',:id=>'Foundation 6',:href=>'//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation-flex.min.css'}
    %link{:rel=>'stylesheet',:id=>'Roboto Font',:href=>'//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300,300italic,700,500italic,100,100italic,700italic,900,900italic',:type=>'text/css'}
    %link{:rel=>'stylesheet',:id=>'FontAwesome',:href=>'//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'}
    %link{:rel=>'stylesheet',:id=>'UB Catalog',:href=>'css/home/home.css'}

  %body

    / background, fixed position (hide on small screens)
    .row.expanded.bg-image.hide-for-small-only
      .column

    / site banner
    %header.row.expanded.banner
      .columns.large-offset-1.large-10
        / medium & large screen banner
        %object.logo.show-for-medium{:data=>'img/UBFullName.svg',:type=>'image/svg+xml'}
        / phone banner
        %h1.title.show-for-small-only.float-left Degree &amp; Course Catalog 16-17
        %object.logo.show-for-small-only.float-right{:data=>'img/UB.svg',:type=>'image/svg+xml'}

    / site title & year
    .row.expanded.hide-for-small-only.site-title
      .column.large-offset-1.large-10
        %h1.title
          Undergraduate Degree &amp; Course Catalog
        %h2.year 2016 - 2017

    / main search input
    .row.expanded.main-search
      .column.large-offset-2.large-8
        .input-group
          %input.input-group-field{:type=>'text',:id=>'mainSearch',:name=>'mainSearch',:placeholder=>'Search Undergraduate Degree & Course Catalog'}
          .input-group-button
            %button.button.light-gray.text-dark-gray
              %span.hide-for-small-only SEARCH
              %span.fa.fa-search

    .row.expanded
      .column.large-offset-1.large-10.small-12.page
        / site navigation
        %nav.row.expanded
          .column.large-12.small-12
            .menu-container
              %ul.menu
                %li.active
                  %a{:href=>"#",:title=>"Degree and Course Catalog Home"}
                    %span.fa.fa-home
                    %span.text.show-for-small-only Home
                %li
                  %a{:href=>"academicprograms",:title=>"Degree and Course Catalog Academic Programs"}
                    %span.fa.fa-graduation-cap.show-for-small-only
                    %span.text
                      %span.hide-for-small-only Academic
                      Programs
                %li
                  %a{:href=>"uboverview",:title=>"Degree and Course Catalog University Overview"}
                    %span.fa.fa-eye.show-for-small-only
                    %span.text
                      %span.hide-for-small-only UB
                      Overview
                %li
                  %a{:href=>"policies",:title=>"Degree and Course Catalog Policies"}
                    %span.fa.fa-exclamation.show-for-small-only
                    %span.text Policies
                %li
                  %a{:href=>"coursesearch",:title=>"Catalog Course Search"}
                    %span.fa.fa-search.show-for-small-only
                    %span.text Course Search

        / content area
        .row.content.expanded
          / main content
          %section.columns.large-7.medium-8.small-12#main-content
            .main
              %h2 Undergraduate Degree &amp; Course Catalog
              %p
                The policies and requirements listed in the undergraduate catalog are in effect for the entirety of the
                academic year. Online catalogs are archived in March of each academic year, and the archived versions
                may be accessed through the links below or by contacting the Office of the Registrar at
                %a{:href=>"mailto: reg-transcripts@buffalo.edu"} reg-transcripts@buffalo.edu.
              %p
                The edition of the catalog that contains students’ university and major requirements is determined by
                their academic year of entry or reentry and academic year of acceptance to the major. See the
                %a{:href=>"#"} Catalog Rights Statement
                for specific information.
              %p
                Calendars, academic and degree programs, policies, and fees are subject to change at any time by
                official action of the University at Buffalo or the State University of New York.
              %p
                Departmental websites and departmental curricular and course information are maintained independently
                and do not necessarily reflect university-approved curricula and course information. In case of
                discrepancies between departmental information and the University Undergraduate Catalog, the University
                Undergraduate Catalog is considered definitive.
              %p
                Changes in policies, procedures, and administration may have occurred since the final publication
                deadline for this catalog. For the most up-to-date information, please contact the
                Office of the Registrar.
              %p
                Course descriptions may be found within the individual
                %a{:href=>"#"}academic program
                pages. Course descriptions for previous academic years may be found in the archived catalogs listed below.

          / "side bar" content
          .columns.large-5.medium-4.small-12
            .row

              / catalog archives
              %section.column
                %hr.show-for-small-only
                .archives#archives
                  %h5
                    %a{:href=>"#"} Catalog Archive
                  .row.catalogs
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/1",:width=>50,:height=>65}
                        %br
                        %span.yr 2015-16
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/2",:width=>50,:height=>65}
                        %br
                        %span.yr 2014-15
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/3",:width=>50,:height=>65}
                        %br
                        %span.yr 2013-14
                    .columns.large-3.medium-6.small-3.text-center
                      %a{:href=>"#"}
                        %img{:src=>"//lorempixel.com/50/65/abstract/4",:width=>50,:height=>65}
                        %br
                        %span.yr 2012-13
                %hr
          / removed for future consideration
          / advising
          /
            .row
              %section.column
                .module
                  %h6
                    Any Questions? Need Help?
                  %p
                    Be sure to visit an Academic Advisor or your major's advising office.  Visit the
                    %a{:href=>"#"} Advising Directory
                    on the
                    %a{:href=>"#"} Undergraduate Academic Advisement
                    website.

          / be advised
          /
            .row
              %section.column
                .module
                  %h6
                    %span.fa.fa-newspaper-o
                    Be Advised Headlines

                  .row.headline
                    .column
                      .date Jan 19, 2016
                      .title
                        %a{:href=>"#"} Week 1 - Spring Semester 2016

                  .row.headline
                    .column
                      .date Jan 7, 2016
                      .title
                        %a{:href=>"#"} Have you looked at your final grades?
                      %p
                        You can view your Final Grades for Fall 2015 via your HUB Student Center - View My Grades...

                  .row.headline
                    .column
                      .date Dec 22, 2015
                      .title
                        %a{:href=>"#"} Preparing for next semester's coursework
                      %p
                        A fantastic free on-line tool called Khan Academy offers a great way for you to review or
                        prepare...

    %footer.row.expanded
      .columns.large-offset-1.medium-3.small-9
        %object.logo{:data=>'img/UBFullName-DkGray.svg',:type=>'image/svg+xml'}
      .columns.medium-8.small-12
        .row.resources
          .columns.medium-4.small-12
            %strong Related Resources
            %ul.links
              %li
                %a{:href=>''} Academic Calendars
              %li
                %a{:href=>''} HUB Student Center via MyUB
              %li
                %a{:href=>''} Office of the Registrar
              %li
                %a{:href=>''} Undergraduate Advising


          .columns.medium-4.small-12
            %strong Legal Notices
            %ul.links
              %li
                %a{:href=>''} Accessibility Statement
              %li
                %a{:href=>''} Privacy Policy

          .columns.medium-4.small-12
            %strong Additional Info
            %ul.links
              %li
                %a{:href=>''} Contact Us
              %li
                %a{:href=>''} Catalog A-Z

        .row.copyright.clearfix
          .column.medium-10.small-12
            .float-right
              &copy; Copyright 2016 University at Buffalo, All rights reserved.