!!!
%html
    %head
        %title [Interior Page Title ] : 2016-17 UB Undergraduate Degree & Course Catalog
        / Meta
        %meta{:name=>'viewport',:content=>'width=device-width,initial-scale:1.0'}
        / CSS (Foundation, Roboto, FontAwesome, Catalog)
        %link{:rel=>'stylesheet',:id=>'Foundation 6',:href=>'//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation-flex.min.css'}
        %link{:rel=>'stylesheet',:id=>'Roboto Font',:href=>'//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300,300italic,700,500italic,100,100italic,700italic,900,900italic',:type=>'text/css'}
        %link{:rel=>'stylesheet',:id=>'FontAwesome',:href=>'//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'}
        %link{:rel=>'stylesheet',:id=>'UB Catalog',:href=>'css/home/home.css'}
        %link{:rel=>'stylesheet',:id=>'UB Catalog Interior',:href=>'css/interior/interior.css'}
    %body

        / site banner
        %header.row.expanded.banner
            .columns.large-offset-1.large-10
                / medium & large screen banner
                %object.logo.show-for-medium{:data=>'img/UBFullName.svg',:type=>'image/svg+xml'}
                / phone banner
                %h1.title.show-for-small-only.float-left Search Results
                %object.logo.show-for-small-only.float-right{:data=>'img/UB.svg',:type=>'image/svg+xml'}

        / site title & year
        .row.expanded.hide-for-small-only.site-title
            .column.large-offset-1.large-10
                %h1.title
                    Undergraduate Degree &amp; Course Catalog
                %h2.year 2016 - 2017

        .row.expanded
            .column.large-offset-1.large-10.small-12.page
                / site navigation
                %nav.row.expanded
                    .column.large-12.small-12
                        .menu-container
                            #nav-search.float-right.hide-for-small-only
                                .input-group
                                    %input.input-group-field{:type=>"text",:placeholder=>"Search Catalog"}
                                    .input-group-button
                                        %button.button.light-gray.text-dark-gray
                                            %span.fa.fa-search
                            %ul.menu
                                %li
                                    %a{:href=>"#",:title=>"Degree and Course Catalog Home"}
                                        %span.fa.fa-home
                                        %span.text.show-for-small-only Home
                                %li
                                    %a{:href=>"academicprograms",:title=>"Degree and Course Catalog Academic Programs"}
                                        %span.fa.fa-graduation-cap.show-for-small-only
                                        %span.text
                                            %span.show-for-large Academic
                                            Programs
                                %li
                                    %a{:href=>"uboverview",:title=>"Degree and Course Catalog University Overview"}
                                        %span.fa.fa-eye.show-for-small-only
                                        %span.text
                                            %span.show-for-large UB
                                            Overview
                                %li
                                    %a{:href=>"policies",:title=>"Degree and Course Catalog Policies"}
                                        %span.fa.fa-exclamation.show-for-small-only
                                        %span.text Policies
                                %li
                                    %a{:href=>"coursesearch",:title=>"Catalog Course Search"}
                                        %span.fa.fa-search.show-for-small-only
                                        %span.text
                                            %span.show-for-large Course Search
                                            %span.hide-for-large Courses

                / breadcrumbs
                .row.expanded
                    .column.large-12.medium-12.small-12
                        %ul.breadcrumbs
                            %li
                                %a{:href=>"/index.html"} Home
                            %li Search Results

                / content area
                .row.content.expanded
                    %section.columns.large-12#main-content

                        %h2 Search Results

                        / result stats
                        .row.expanded
                            .column.large-12.medium-12.small-12
                                .stats
                                    Results:
                                    %span.search-query "search string here",
                                    showing
                                    %span.results-start 1
                                    to
                                    %span.results-end 20
                                    of
                                    %span.results-total 149

                        .row.expanded
                            .columns.large-8.medium-8.small-12


        %footer
            .row.expanded
                .columns.large-offset-1.medium-3.small-9
                    %object.logo{:data=>'img/UBFullName-DkGray.svg',:type=>'image/svg+xml'}
                .columns.medium-8.small-12
                    .row.resources
                        .columns.medium-4.small-12
                            %strong Related Resources
                            %ul.links
                                %li
                                    %a{:href=>''} Academic Calendars
                                %li
                                    %a{:href=>''} HUB Student Center via MyUB
                                %li
                                    %a{:href=>''} Office of the Registrar
                                %li
                                    %a{:href=>''} Undergraduate Advising


                        .columns.medium-4.small-12
                            %strong Legal Notices
                            %ul.links
                                %li
                                    %a{:href=>''} Accessibility Statement
                                %li
                                    %a{:href=>''} Privacy Policy

                        .columns.medium-4.small-12
                            %strong Additional Info
                            %ul.links
                                %li
                                    %a{:href=>''} Contact Us
                                %li
                                    %a{:href=>''} Catalog A-Z

                    .row.copyright.clearfix
                        .column.medium-10.small-12
                            .float-right
                                &copy; Copyright 2016 University at Buffalo, All rights reserved.